<h1>Bonjour! Veuillez confirmer votre email</h1>
<h2>Plus qu'une étape avant de pouvoir accéder aux évènements...</h2>
<p>
    Confirmez votre email en cliquant sur le lien: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez votre email</a>.
    Ce lien exprire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    We Frip!
</p>
