/* font-family: 'Chewy', cursive;
font-family: 'Red Hat Display', sans-serif; */
@font-face {
	font-family: 'Another shabby';
	src: url('../fonts/fonts-AnotherShabby/Anothershabby_pro_regular_v3_trial.ttf') format('truetype')
}
body {
	font-family: 'Red Hat Display', sans-serif;
    background-color: #F7F3F3;
}

h1{
    font-family: "Another shabby";
}

h2, h3{
    font-family:'Geologica';
}

a , a:hover {
    color: inherit;
    text-decoration: none;
}

/* Tous les boutons #375CA6 texte #F7F3F3, hover #D98E04 */
.bouton, .bouton2:hover {
    background-color: #375CA6;
    color: #F7F3F3;
}

.bouton:hover, .bouton2 {
    background-color: #D98E04;
    color: #F7F3F3;
}

/* Pour la barre de navigation */
nav .logoWeFrip {
    width:120px;
}

nav .avatarProfil {
    width:40px;
}

/* Pour le footer */
footer .media, .profilInfo button {
    background-color: #D98E04;
    cursor:pointer;
}

footer .media:hover, .profilInfo button:hover {
    background-color: #375CA6;
    color:#F7F3F3;
}

/* CSS pour la catégorie */
.category-image {
    width: 250px; 
    height: 150px; 
    object-fit: cover; /* Ajustement de l'image pour remplir le conteneur */
}

/* CSS pour les cards tutoriels */
.images-tuto {
    height: 260px;
    object-fit: cover;
}

/*CSS pour la map*/
#maCarte{
    width: 100%;
    height: 500px;
    z-index:0;
}

#zoneCarte, #zoneMaCarte {
    z-index:0;
    width:80%;
}

#eventInfo {
    height:500px;
}

#maModale {
    display:none;
    z-index:10;
}

.circle-info {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #E1C9B3;
    border-radius: 50%;
    cursor: pointer;
    }

.circle-info:hover .info-text {
    opacity: 1;
    visibility: visible;
    }

.info-text {
    position: absolute;
    background-color: #E1C9B3;
    top: -700%;
    left: -650%;
    width:60vw;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    }


/* CSS pour le profil */
.profilUser {
    background-color: #E1C9B3;
}

.profilUser .avatarProfil {
    width:100px;
}

#BGcontainer{
    background-color: #E1C9B3;
}

#login-inscrire a, .connecter a{
    text-decoration: underline;
    color: #375CA6;
}

#card-img-top{
    padding: 3rem;
}

/* @media screen (max-width: 550px) {
    
    .home-media{
        display: flex-wrap;
        flex-direction: column;
        width: auto;
        }
    
} */