/* font-family: 'Chewy', cursive;
font-family: 'Red Hat Display', sans-serif; */

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: #F7F3F3;
}

a {
    color: inherit;
}

nav .logoWeFrip {
    width:120px;
}

nav .avatarProfil {
    width:40px;
}

footer .media, .profilUser button {
    background-color: #D98E04;
    cursor:pointer;
}

footer .media:hover, .profilUser button:hover {
    background-color: #375CA6;
    color:#F7F3F3;
}

/* CSS pour le profil */
.profilUser {
    background-color: #E1C9B3;
}

.profilUser .avatarProfil {
    width:100px;
}


/* CSS pour le home */
.accueil h1, .accueil h2 {
    font-family: 'Chewy';
}

.concept{
    font-size: 18px;
}


/* css pour l'inscription */
#register-container{
    background-color: #D98E04;


/*CSS pour la map*/
#maCarte{
    width: 100%;
    height: 500px;
}

#eventInfo {
    height:500px;
    overflow-y: auto;
}