{% extends 'base.html.twig' %}

{% block title %}Les tutoriels pour transformer vos vêtements{% endblock %}

{% block body %}
    <h1 class="text-center"> Les tutoriels pour transformer vos vêtements  </h1>
    <div class="d-flex justify-content-around ">
    <button type="submit" class="btn btn-primary">Les plus récents</button>
    <button type="submit" class="btn btn-primary">Voir les catégories</button>
    </div>
    <video controls id="video">
    <source src="../../public/videos" type=video/mp4 ></source>
 </video>
    
   {% endblock %}
