{% extends 'base.html.twig' %}
{% block title %}{{ tutorial.tutoName }}{% endblock %}

{% block body %}
<h1>{{ tutorial.tutoName }}</h1>

<div class="row">
	<div class="col-12 col-md-3">
        <div class="card">
                <video controls id="video">
                <source src="{{ asset('img/videoTuto/' ~ tutorial.tutoVideoName) }}" type="video/mp4"></source>
                </video>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">{{ tutorial.tutoDescription }}</p>
            <div class="d-flex justify-content-around ">
            <a href="#" class="btn btn-primary">Catégorie</a>
            <a href="#" class="btn btn-primary">Support</a>
            </div>
        </div>
        </div>
    </div>
</div>










{% endblock %}